@font-face {
    font-family: 'secondo_font';
    src: url('../font/BasheqVintageDemoVersionRegular-gwpmE.otf') format('opentype');
}

body {
    background-color: #e1aebc;
    font-family: 'Cowboya', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(173, 216, 230, 0);
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul img {
    margin: 7px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

nav sinistra {
    margin-left: auto;
}